<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - The Amaging Race</title>
    @Styles.Render("~/Content/css")
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">


    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>The Amazing Race</h3>
                <strong>T A R</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href=" @Url.Action("Index","Home")" >
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                    
                </li>
                <li>
                    <a href=" @Url.Action("Index","Event")">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        Event Management
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Member Management
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-wrench"></i>
                        PitStop Check in
                    </a>
                </li>
               
            </ul>

        </nav>
        <!-- MAIN -->
        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>

                        </button>
                    </div>
                    <ul class="nav nav-divider navbar-nav  navbar-right ">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>

                </div>
            </nav>
            @RenderBody()
        </div>

    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>
</html>
