@model NUS.TheAmagingRace.DAL.PitStop

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PitStopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PitStopName)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedAt)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
