


@{
    ViewBag.Title = "Members";
}


<div class="panel-group" onload="LoadPanels" id="TARPanels">
    <div class="panel panel-default">
        <div class="panel-heading">Adminstrators</div>
        <div class="panel-body" id="AdminstatorsBody">

        
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Staff Members</div>
        <div class="panel-body" id="StaffsBody">


        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Rest of the Users</div>
        <div class="panel-body"  id="MembersBody">
           
        </div>
    </div>

</div>
<script type="text/javascript">
    $("#TARPanels").on("Load", LoadPanels(this));
    function LoadPanels(e) {
        LoadAdministratorPanel(e);
        LoadStaffPanel(e);
        LoadMemberPanel(e);
    }
    function LoadAdministratorPanel(e) {

        ajaxGet("loaderdiv", '@Url.Action("LoadAdministrators","Member")', [], function (data) {

            $("#AdminstatorsBody").html(data);
        },
            function (error, data, status) { });
    }
   
    function LoadStaffPanel(e) {
        @*$("#StaffsBody").load('@Url.Action("LoadStaff", "Member")', function () {

        });*@

         ajaxGet("loaderdiv", '@Url.Action("LoadStaff", "Member")', [], function (data) {

             $("#StaffsBody").html(data);
        },
            function (error, data, status) { });
    }
    function LoadMemberPanel(e) {
        @*$("#MembersBody").load('@Url.Action("LoadMembers", "Member")', function () {

        });*@
                 ajaxGet("loaderdiv", '@Url.Action("LoadMembers", "Member")', [], function (data) {

                     $("#MembersBody").html(data);
        },
            function (error, data, status) { });
    }
    function ajaxLoadPartialView(url, type, progresstimeout, successfunction) {

    }

</script>